# Ignore everything
/*

# Except these files & folders
!/src
!/public
!/.github
!tsconfig.json
!astro.config.ts
!.prettierrc.mjs
!package.json
!.prettierrc
!eslint.config.js
!README.md

# CF Pages headers 无扩展名，prettier 无法解析
public/_headers